.login {
  padding: 20px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20vh auto;
}

.form-item,
.form-item-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.form-item label {
  width: 70px;
  font-size: 15px;
}

.form-item input {
  flex: 1;
  padding: 5px 10px;
  outline: none;
  font-size: 15px;
}

.form-item a {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.form-item-btns {
  margin-top: 20px;
}

.form-item-btns button {
  width: 100px;
  height: 30px;
  appearance: none;
  margin-right: 15px;
  border-radius: 5px;
  outline: none;
}